In [1]:
import pandas as pd
import numpy as np

In [2]:
names = []

In [3]:
import os
for root, dirs, files in os.walk(".", topdown=False):
   for name in files:
    if "X" in name:
        names.append(name)

In [4]:
print(names)

['thoracic_X.csv', 'campus_X.csv', 'compas_X.csv', 'stroke_X.csv', 'diabetes_X.csv', 'water_X.csv', 'churn_X.csv', 'german_X.csv', 'breast_X.csv', 'climate_X.csv', 'heart_X.csv', 'student_X.csv']

In [5]:
df = []

In [6]:
for name in names:
    df_temp = pd.read_csv(name)
    df_temp = df_temp.drop("Unnamed: 0", axis=1)
    df.append(df_temp)

In [7]:
df[1].columns

Index(['gender', 'ssc_p', 'ssc_b', 'hsc_p', 'hsc_b', 'hsc_s', 'degree_p',
       'degree_t', 'workex', 'etest_p', 'specialisation', 'mba_p'],
      dtype='object')

In [8]:
list(df[0].columns)

['DGN',
 'PRE4',
 'PRE5',
 'PRE6',
 'PRE7',
 'PRE8',
 'PRE9',
 'PRE10',
 'PRE11',
 'PRE14',
 'PRE17',
 'PRE19',
 'PRE25',
 'PRE30',
 'PRE32',
 'AGE']

In [9]:
df[0].head()

,DGN,PRE4,PRE5,PRE6,PRE7,PRE8,PRE9,PRE10,PRE11,PRE14,PRE17,PRE19,PRE25,PRE30,PRE32,AGE
0,DGN2,2.88,2.16,PRZ1,F,F,F,T,T,OC14,F,F,F,T,F,60
1,DGN3,3.40,1.88,PRZ0,F,F,F,F,F,OC12,F,F,F,T,F,51
2,DGN3,2.76,2.08,PRZ1,F,F,F,T,F,OC11,F,F,F,T,F,59
3,DGN3,3.68,3.04,PRZ0,F,F,F,F,F,OC11,F,F,F,F,F,54
4,DGN3,2.44,0.96,PRZ2,F,T,F,T,T,OC11,F,F,F,T,F,73

In [10]:
#Categorical features - 1
#Numerical features - 0
names[0]

'thoracic_X.csv'

In [11]:
types_thoracic_X = [1, 0, 0, 1,
                    1, 1, 1, 1,
                    1, 1, 1, 1,
                    1, 1, 1, 0
                   ]

In [12]:
types_thoracic_df = pd.DataFrame(([list(df[0].columns), types_thoracic_X]))

In [13]:
types_thoracic_df.to_csv(f"./datatypes/test")

In [14]:
def create_dataFrame_and_save_to_csv(index, types, name):
    types_data_frame = pd.DataFrame(([list(df[index].columns), types]))
    types_data_frame.to_csv(f"./datatypes/{name}.csv", index=False)

In [15]:
create_dataFrame_and_save_to_csv(0, types_thoracic_X, "thoracic")

----

In [16]:
names[1]

'campus_X.csv'

In [17]:
df[1].head()

,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p
0,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80
1,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28
2,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80
3,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43
4,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50

In [18]:
campus_X_types = [1, 0, 1, 0,
                  1, 1, 0, 1,
                  1, 0, 1, 0
                 ]

In [19]:
create_dataFrame_and_save_to_csv(1, campus_X_types, "campus")

---

In [20]:
names[2]

'compas_X.csv'

In [21]:
df[2].head()

,Two_yr_Recidivism,Number_of_Priors,score_factor,Age_Above_FourtyFive,Age_Below_TwentyFive,African_American,Asian,Hispanic,Native_American,Other,Female
0,0,0,0,1,0,0,0,0,0,1,0
1,1,0,0,0,0,1,0,0,0,0,0
2,1,4,0,0,1,1,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,1,0
4,1,14,1,0,0,0,0,0,0,0,0

In [22]:
df[2].shape

(6172, 11)

In [23]:
compas_X_types = [0, 0, 0, 0,
                  0, 0, 0, 0,
                  0, 0, 0 
                 ]

In [24]:
create_dataFrame_and_save_to_csv(2, compas_X_types, "compas")

---

In [25]:
names[3]

'stroke_X.csv'

In [26]:
df[3].head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked
1,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked
2,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes
3,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked
4,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked

In [27]:
df[3].shape

(4908, 10)

In [28]:
stroke_X_types = [1, 0, 1, 1,
                  1, 1, 1, 0,
                  0, 1
                 ]

In [29]:
create_dataFrame_and_save_to_csv(3, stroke_X_types, "stroke")

---

In [30]:
names[4]

'diabetes_X.csv'

In [31]:
df[4].head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33

In [32]:
df[4].shape

(768, 8)

In [33]:
diabetes_X_types = [0, 0, 0, 0,
                    0, 0, 0, 0]

In [34]:
create_dataFrame_and_save_to_csv(4, diabetes_X_types, "diabetes")

---

In [35]:
names[5]

'water_X.csv'

In [36]:
df[5].head()

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity
0,66.396293,204.890455,20791.318981,7.300212,368.516441,564.308654,10.379783,86.990970,2.963135
1,3.716080,129.422921,18630.057858,6.635246,333.775777,592.885359,15.180013,56.329076,4.500656
2,8.099124,224.236259,19909.541732,9.275884,333.775777,418.606213,16.868637,66.420093,3.055934
3,8.316766,214.373394,22018.417441,8.059332,356.886136,363.266516,18.436524,100.341674,4.628771
4,9.092223,181.101509,17978.986339,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075

In [37]:
df[5].shape

(3276, 9)

In [38]:
water_X_types = [0, 0, 0, 0,
                 0, 0, 0, 0,
                 0]

In [39]:
create_dataFrame_and_save_to_csv(5, water_X_types, "water")

---

In [40]:
names[6]

'churn_X.csv'

In [41]:
df[6].head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

In [42]:
df[6].shape

(10000, 10)

In [43]:
churn_X_types = [0, 1, 1, 0,
                 0, 0, 0, 1,
                 1, 0]

In [44]:
create_dataFrame_and_save_to_csv(6, churn_X_types, "churn")

---

In [45]:
names[7]

'german_X.csv'

In [46]:
df[7].head()

,A11,6,A34,A43,1169,A65,A75,4,A93,A101,4.1,A121,67,A143,A152,2,A173,1,A192,A201
0,A12,48,A32,A43,5951,A61,A73,2,A92,A101,2,A121,22,A143,A152,1,A173,1,A191,A201
1,A14,12,A34,A46,2096,A61,A74,2,A93,A101,3,A121,49,A143,A152,1,A172,2,A191,A201
2,A11,42,A32,A42,7882,A61,A74,2,A93,A103,4,A122,45,A143,A153,1,A173,2,A191,A201
3,A11,24,A33,A40,4870,A61,A73,3,A93,A101,4,A124,53,A143,A153,2,A173,2,A191,A201
4,A14,36,A32,A46,9055,A65,A73,2,A93,A101,4,A124,35,A143,A153,1,A172,2,A192,A201

In [47]:
df[7].shape

(999, 20)

In [48]:
german_X_types = [1, 0, 1, 1,
                  1, 1, 1, 0, 
                  1, 1, 0, 1,
                  0, 1, 1, 0,
                  1, 0, 1, 1
                 ]

In [49]:
create_dataFrame_and_save_to_csv(7, german_X_types, "german")

---

In [50]:
names[8]

'breast_X.csv'

In [51]:
df[8].head()

,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,symmetry_mean,fractal_dimension_mean,...,radius_worst,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst
0,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,0.2419,0.07871,...,25.38,17.33,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890
1,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,0.1812,0.05667,...,24.99,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902
2,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,0.2069,0.05999,...,23.57,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758
3,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,0.2597,0.09744,...,14.91,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300
4,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,0.1809,0.05883,...,22.54,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678

In [52]:
df[8].dtypes

radius_mean                float64
texture_mean               float64
perimeter_mean             float64
area_mean                  float64
smoothness_mean            float64
compactness_mean           float64
concavity_mean             float64
concave points_mean        float64
symmetry_mean              float64
fractal_dimension_mean     float64
radius_se                  float64
texture_se                 float64
perimeter_se               float64
area_se                    float64
smoothness_se              float64
compactness_se             float64
concavity_se               float64
concave points_se          float64
symmetry_se                float64
fractal_dimension_se       float64
radius_worst               float64
texture_worst              float64
perimeter_worst            float64
area_worst                 float64
smoothness_worst           float64
compactness_worst          float64
concavity_worst            float64
concave points_worst       float64
symmetry_worst             float64
fractal_dimension_worst    float64
dtype: object

In [53]:
df[8].shape

(569, 30)

In [54]:
breast_X_types = np.zeros(30, dtype=int)

In [55]:
breast_X_types = list(breast_X_types)

In [56]:
create_dataFrame_and_save_to_csv(8, breast_X_types, "breast")

---

In [57]:
names[9]

'climate_X.csv'

In [58]:
df[9].head()

,vconst_corr,vconst_2,vconst_3,vconst_4,vconst_5,vconst_7,ah_corr,ah_bolus,slm_corr,efficiency_factor,tidal_mix_max,vertical_decay_scale,convect_corr,bckgrnd_vdc1,bckgrnd_vdc_ban,bckgrnd_vdc_eq,bckgrnd_vdc_psim,Prandtl
0,0.859036,0.927825,0.252866,0.298838,0.170521,0.735936,0.428325,0.567947,0.474370,0.245675,0.104226,0.869091,0.997518,0.448620,0.307522,0.858310,0.796997,0.869893
1,0.606041,0.457728,0.359448,0.306957,0.843331,0.934851,0.444572,0.828015,0.296618,0.616870,0.975786,0.914344,0.845247,0.864152,0.346713,0.356573,0.438447,0.512256
2,0.997600,0.373238,0.517399,0.504993,0.618903,0.605571,0.746225,0.195928,0.815667,0.679355,0.803413,0.643995,0.718441,0.924775,0.315371,0.250642,0.285636,0.365858
3,0.783408,0.104055,0.197533,0.421837,0.742056,0.490828,0.005525,0.392123,0.010015,0.471463,0.597879,0.761659,0.362751,0.912819,0.977971,0.845921,0.699431,0.475987
4,0.406250,0.513199,0.061812,0.635837,0.844798,0.441502,0.191926,0.487546,0.358534,0.551543,0.743877,0.312349,0.650223,0.522261,0.043545,0.376660,0.280098,0.132283

In [59]:
df[9].shape

(540, 18)

In [60]:
climate_X_types = [0, 0, 0, 0,
                   0, 0, 0, 0, 
                   0, 0, 0, 0, 
                   0, 0, 0, 0,
                   0, 0
                  ]

In [61]:
create_dataFrame_and_save_to_csv(9, climate_X_types, "climate")

---

In [62]:
names[10]

'heart_X.csv'

In [63]:
df[10].head()

,Age,Sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,Place
0,28,1,2,130.0,132.000000,0.0,2.0,185.0,0.0,0.0,Hungary
1,29,1,2,120.0,243.000000,0.0,0.0,160.0,0.0,0.0,Hungary
2,29,1,2,140.0,200.048724,0.0,0.0,170.0,0.0,0.0,Hungary
3,30,0,1,170.0,237.000000,0.0,1.0,170.0,0.0,0.0,Hungary
4,31,0,2,100.0,219.000000,0.0,1.0,150.0,0.0,0.0,Hungary

In [64]:
df[10].shape

(457, 11)

In [65]:
heart_X_types = [0, 1, 1, 0,
                 0, 0, 0, 0,
                 0, 0, 1]

In [66]:
create_dataFrame_and_save_to_csv(10, heart_X_types, "heart")

---

In [67]:
names[11]

'student_X.csv'

In [68]:
df[11].head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,yes,no,no,4,3,4,1,1,3,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,yes,yes,no,5,3,3,1,1,3,4
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,yes,yes,no,4,3,2,2,3,3,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,yes,yes,yes,3,2,2,1,1,5,2
4,GP,F,16,U,GT3,T,3,3,other,other,...,yes,no,no,4,3,2,1,2,5,4

In [69]:
df[11].dtypes

school        object
sex           object
age            int64
address       object
famsize       object
Pstatus       object
Medu           int64
Fedu           int64
Mjob          object
Fjob          object
reason        object
guardian      object
traveltime     int64
studytime      int64
failures       int64
schoolsup     object
famsup        object
paid          object
activities    object
nursery       object
higher        object
internet      object
romantic      object
famrel         int64
freetime       int64
goout          int64
Dalc           int64
Walc           int64
health         int64
absences       int64
dtype: object

In [70]:
student_X_types = [1, 1, 0, 1,
                   1, 1, 0, 0,
                   1, 1, 1, 1,
                   0, 0, 0, 1,
                   1, 1, 1, 1,
                   1, 1, 1, 0,
                   0, 0, 0, 0,
                   0, 0
                  ]

In [71]:
create_dataFrame_and_save_to_csv(11, student_X_types, "student")